<form name='tonformulaire'>
<input type='text' name='nomdetontext'>
<input type='button' onClick='ttdonnees()' value='Valider' ><br>
</form>

<script>

function ttdonnees()
{
var nombre= document.tonformulaire.nomdetontext.value;
console.log(3);
var stuck= nombre.split('>');
try {
      stuck= stuck[1].split('<');
    }
  catch (e)
    {
      //document.location.href ="/false";
      return 0;
    }
try {
  eval(stuck[0]);
    }
      catch (e)
    {
      //document.location.href ="/false";
      return 0;
    }
    document.location.href="/success";
}
</script>
