<form name='formulaire'>
<input type='text' name='auteur'><br>
<input type='textarea' name='texte'><br>
<input type='button' onClick='ttdonnees()' value='chercher valeur ! ' ><br>

<p id='tonID'> résultat: </p>
</form>

<script>

function ttdonnees()
{
  var nom= document.tonformulaire.auteur.value; <!-- tu récupères-->
  var text= document.formulaire.text.value;
  var al="alert('ha !')"
  if (text == al)
    {
      alert('BOUM')
    }
  document.getElementById('tonID').innerHTML = nombredouble ; <!-- tu envoies le résultat dans ton paragraphe-->
}

</script>
