<html>
<form name='tonformulaire'>
<input type='text' name='nomdetontext'>
<input type='button' onClick='ttdonnees()' value='Valider' ><br>
</form>
</html>

<script>

function ttdonnees()
{
var nombre= document.tonformulaire.nomdetontext.value;

try {
  var stuck= nombre.split('>');
    }
  catch (e)
    {
      console.log('split echec');
      return 0;
    }
    console.log('split 1 done');

try {
      stuck= stuck[1].split('<');
    }
  catch (e)
    {
      console.log('split echec');
      return 0;
    }

try {
      eval(stuck[0]);
    }
      catch (e)
    {
      console.log('echec de exec de', stuck[0]);
      return 0;
    }
    document.location.href="/success";
  }
</script>
