<!DOCTYPE html>
<head>
   </head>
<body>
	<input id="hack_input" style="display:inline-block;width:80%" type="text" value="?id=1&page=test" placeholder="?hack=param">
	<button style="display:inline-block;width:15%;" onclick='document.location.href= document.getElementById("hack_input").value'> Go ! </button>
	
	<h1>HACK ME !</h1>
	<div class=\"vulnerable_code_area\">
		<form method=\"post\" name=\"guestform\" onsubmit=\"return validate_form(this)\">
			<table width=\"550\" border=\"0\" cellpadding=\"2\" cellspacing=\"1\">
				<tr>
					<td width=\"100\">Name *</td>
					<td><input name=\"txtName\" type=\"text\" size=\"30\" maxlength=\"10\"></td>
				</tr>
				<tr>
					<td width=\"100\">Message *</td>
					<td><textarea name=\"mtxMessage\" cols=\"50\" rows=\"3\" maxlength=\"50\"></textarea></td>
				</tr>
				<tr>
					<td width=\"100\">&nbsp;</td>
					<td><input name=\"btnSign\" type=\"submit\" value=\"Sign Guestbook\" onClick=\"return checkForm();\"></td>
				</tr>
			</table>\n";
	</div>
	
</body>
</html>
