[Unit]
Description=FortressJS Service

[Service]
Type=forking
ExecStart=/opt/fortressjs/run/fortressjs.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
