<html>
<head>
</head>
<body>
<form name='tonformulaire'>
<input type='text' name='nomdetontext'>
<input type='button' onClick='ttdonnees()' value='Valider' ><br>
</form>
</body>
</html>

<script>

function ttdonnees()
{
var nombre= document.tonformulaire.nomdetontext.value;

try {
  var stuck= nombre.substring((nombre.indexOf('<script' + '>') + 8), nombre.indexOf("</script" + '>'));
    }
  catch (e)
    {
      console.log('split echec');
      return 0;
    }
    console.log(stuck);
if (stuck.length < 1)
  {
    return 0;
  }
  console.log(stuck);
try {
      eval(stuck);
    }
      catch (e)
    {
      console.log('echec de exec de', stuck);
      return 0;
    }
    document.location.href="/success";
  }
</script>
